
.big-banner {
    background-image: radial-gradient(ellipse 80% 500px, transparent 10%, #212121 70%), url(/images/background2.png);
    height: 750px;
    /*width: 100%;*/
    background-repeat: repeat-x;
    /*background-color: #ff006e;*/
}
.small-banner {
    background-color: black;
    /*height: 450px;*/
    /*width: 100%;*/
}
.btn-primary-outline {
    background-color: transparent;
    color: white;
    border-color: #ccc;
}
.btn-primary-outline:hover {
    background-color: transparent;
    color: white;
}


.main-text {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.sub-main-text {
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.white-text {
    color: white;
}

.btn-signup {
    height: 70px;
    width: 210px;
    color:white;
    background-color: red;
    font-size: 30px;
    border:hidden;
}

.btn-signup:hover {
    background-color: red;
    color: white;
}

.search-input {
    height: 70px;
    font-size: 20px;
}

.icon {
    font-size: 36px;
}

.img-dim1 {
    height: 400px;
    width: 70%;
}

.img-dim2 {
    height: 400px;
    width: 60%;
}

.img-dim3 {
    height: 400px;
    width: 70%;
}